<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <style>
        p {
            margin-top: 1px; /* Отступ сверху */
            margin-bottom: 1px; /* Отступ снизу */
            margin-left: 15px;
        }

        .text-center {
            margin-right: auto;
            margin-left: auto;
        }

    </style>
    <title>Login</title>
</head>
<header th:insert="bootstrap/logout.html :: logout">Logout</header>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-3 bg-white pt-5">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#" th:href="@{/admin}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/user}">User</a>
                </li>
            </ul>
        </div>

        <div class="col-9 pt-5">
            <h1>Admin panel</h1>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#users" role="tab"
                       aria-controls="users" aria-selected="true">Users table</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#newUser" role="tab"
                       aria-controls="newUser" aria-selected="false">New user</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">

                <!--all users-->
                <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
                    <div class="pb-2 pl-4 pt-3 border bg-light">
                        <h3>All users</h3>
                    </div>

                    <div class="pt-3 pl-3 pr-3 border">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Password</th>
                                <th>Age</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.password}"></td>
                                <td th:text="${user.age}"></td>
                                <td>
                                    <table>
                                        <th:block th:each="role : ${user.roleSet}">
                                            <span th:text="${role.name}"></span><br/>
                                        </th:block>
                                    </table>
                                </td>
                                <td>
                                    <a th:href="@{admin/getUser/(id=${user.id})}" class="btn btn-primary eBtn">
                                        Edit
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{admin/getUser/(id=${user.id})}" class="btn btn-danger eBtnDelete">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--edit model-->
                <div class="editForm">
                    <form th:action="@{/admin/update}" th:method="PATCH">
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group w-50 text-center">
                                            <label for="id" class="col-form-label">ID</label>
                                            <input type="text" class="form-control " id="id" name="id" value=""
                                                   readonly/>
                                        </div>

                                        <div class="form-group w-50 text-center">
                                            <label for="firstName" class="col-form-label">First name:</label>
                                            <input type="text" class="form-control" id="firstName" name="firstName"
                                                   value=""/>
                                        </div>
                                        <div class="form-group w-50 text-center">
                                            <label for="lastName" class="col-form-label">Last name:</label>
                                            <input type="text" class="form-control" id="lastName" name="lastName"
                                                   value=""/>
                                        </div>
                                        <div class="form-group w-50 text-center">
                                            <label for="age" class="col-form-label">Age:</label>
                                            <input type="text" class="form-control" id="age" name="age" value=""/>
                                        </div>
                                        <div class="form-group w-50 text-center">
                                            <label for="email" class="col-form-label">Email:</label>
                                            <input type="email" class="form-control" id="email" name="email"
                                                   value=""/>
                                        </div>
                                        <div class="form-group w-50 text-center">
                                            <label for="password" class="col-form-label">Password:</label>
                                            <input type="password" class="form-control" id="password" name="password"
                                                   value=""/>
                                        </div>
                                        <div class="form-group w-50 text-center">
                                            <label for="roles" class="col-form-label">Role</label>
                                            <select id="roles" name="roles" multiple size="2" required
                                                    class="form-control">
                                                <option th:each="roles:${setRole}"
                                                        th:value="${roles.getId()}"
                                                        th:text="${roles.getName()}">
                                                </option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Close
                                        </button>
                                        <input type="submit" class="btn btn-primary" value="Edit"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!--delete model-->
                <div class="deleteForm">
                    <form th:action="@{/admin/delete}" th:method="DELETE">
                        <div class="modal fade" id="exampleModalDelete" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabelDelete">Delete</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <div class="form-group w-50 text-center">
                                            <label for="id" class="col-form-label">ID</label>
                                            <input type="text" class="form-control" id="id" name="id" value=""
                                                   readonly/>
                                        </div>

                                        <div class="form-group w-50 text-center">
                                            <label for="firstName" class="col-form-label">First name</label>
                                            <input type="text" class="form-control" id="firstName" name="firstName"
                                                   value="" readonly/>
                                        </div>
                                        <div class="form-group w-50 text-center">
                                            <label for="lastName" class="col-form-label">Last name</label>
                                            <input type="text" class="form-control" id="lastName" name="lastName"
                                                   value="" readonly/>
                                        </div>
                                        <div class="form-group w-50 text-center">
                                            <label for="age" class="col-form-label">Age</label>
                                            <input type="text" class="form-control" id="age" name="age"
                                                   value="" readonly/>
                                        </div>
                                        <div class="form-group w-50 text-center">
                                            <label for="email" class="col-form-label">Email</label>
                                            <input type="email" class="form-control" id="email" name="email"
                                                   value="" readonly/>
                                        </div>
                                        <div class="form-group w-50 text-center">
                                            <label for="roleSet" class="col-form-label">Role</label>
                                            <select id="roleSet" name="roleSet" multiple size="2" required
                                                    class="form-control">
                                            </select>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary "
                                                data-dismiss="modal">Close
                                        </button>
                                        <input type="submit" class="btn btn-danger" value="Delete"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!--new user panel-->
                <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="newUser-tab">
                    <div class="pb-3 pl-4 pt-3 border bg-light">
                        <h3>New user</h3>
                    </div>
                    <div class="pt-2 pl-3 pr-4 border">
                        <div class="newPanel">
                            <form class="form-group text-center" th:action="@{/admin/save}"
                                  th:object="${user}" method="POST">

                                <label>First name</label>
                                <input type="text" th:field="*{firstName}" name="firstName"
                                       class="form-control mb-2 col-4 text-center"/>

                                <label>Last name</label>
                                <input type="text" th:field="*{lastName}" name="lastName"
                                       class="form-control mb-2 col-4 text-center"/>

                                <label>Age</label>
                                <input type="text" th:field="*{age}" name="age"
                                       class="form-control mb-2 col-4 text-center"/>

                                <label>Email</label>
                                <input type="email" th:field="*{email}" name="email"
                                       class="form-control mb-2 col-4 text-center"/>

                                <label>Password</label>
                                <input type="password" th:field="*{password}" name="password"
                                       class="form-control mb-2 col-4 text-center"/>

                                <label>Role</label>
                                <select name="roles" class="form-control mb-2 col-4 text-center"
                                        multiple size="2" id="rolesSelection">
                                    <option id="rolesOption" th:each="roles: ${setRole}"
                                            th:value="${roles.id}" th:text="${roles.getAuthority()}">
                                </select>

                                <button type="submit" class="btn btn-success">Add new user</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript"
        src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="js/modal.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>